a:visited {
	color:blue;
}
a:active {
	color:blue;
}
a {
	color:blue;
}
body {
	background-color:#000000;
	color:#ffffff;
	font-family:serif;
	font-size:1.5em;
	height:100%;
	padding:0;
	margin:0;
}
div#container {
	min-height:100%;
	position:relative;
}
div#header {
	padding:10px;
	margin:0px;
	font-size:2em;
}
div#header h1 {
	display:inline;
	margin-bottom:0px;
	padding-bottom:0px;
}
div#left{
	float:left;
	padding-left:10px;
	width:55%;
}
div#right{
	float:right;
	width:42%;
	padding-left:25px;
	margin-top:1em;
	border-left:2px solid #ffffff;
}
div#footer {
	float:right;
	margin-top:1.2em;
	bottom:0;
	width:100%;
	background:#333333;
	font-size:1.5em;
}
div.stats_title {
	font-size:0.8em;
	border-bottom:2px solid #ffffff;
}
div.stats_content {
	font-size:2.3em;
}
div.printers {
}
div.admins {
}
.admin_name {
	font-size:2.3em;
}
div.hours {
	font-size:2.3em;
}
span.current_time {
	float: right;
}
h2 {
	margin-bottom:0;
	margin-top:0;
}
h3 {
	margin-bottom:0;
	margin-top:0;
}
.bold {
	font-weight:bold;
}
#spinner {
  display: none;
  position: relative;
}

