<h1>{{ lab.name }} lab</h1>
{{ lab.welcome_msg }} 
	<h2>Capacity</h2>
		<h3>Total {{ total_capacity }}</h3>
			<img src=" {{ url_capacity }} " />
			<h4>Total: {{ total_capacity }}, busy: {{ busy_capacity }}</h4>
			<h5>other lab ()</h5>
			Cake diagram<br />
			Busy: , Free:
{% if printer_list %}
	<h2>Printers</h2>
	<ul>
		{% for printer in printer_list %}
			<li><a href="/lab/{{ lab.id }}/printer/{{ printer.id }}">{{ printer.name }}</a>: {{ printer.queue_size|default:"No queue." }} </li>
		{% endfor %}
	</ul>
{% else %}
	<p>No printers defined.</p>
{% endif %}
	<h2>Need help?</h2>
	...then ask<br />
	NAME<br />
	or<br />
	NAME</br>
	<h2>Opening hours</h2>
	<h2>{% now "H:m" %}</h2>
	<h3>{% now "l j. F" %}</h3>
