<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{{ lab.name|capfirst }}</title>
		<link rel="stylesheet"  type="text/css" href="/static/4sq_like.css" />
		<meta http-equiv="refresh" content="15" />
	</head>
	<body>
	<div id="container">
		<div id="header"><h1>{{ lab.name|capfirst }} lab</h1>
			{{ lab.welcome_msg }} 
		</div>
		<div id="left">
			<div class="capacity">
				<h2>Capacity</h2>
				{% if totals.total %}
				<table>
					<tbody>
						<tr>
							<td>
								<div class="stats_title">Total</div><div class="stats_content">{{ totals.total }}</div>
							</td>
							<td>
								<div class="stats_title">Free</div><div class="stats_content">{{ totals.free }}</div>
							</td>
							<td>
								<div class="stats_title">In Use</div><div class="stats_content">{{ totals.in_use}}</div>
							</td>
							<!-- percent -->

						</tr>
						<tr>
							<td colspan="2">
								<img src="{{ url_totals }}" />
							</td>
							<td>
								<img src="{{ url_os }}" />
							</td>
						</tr>
					</tbody>
				</table>
				{% else %}
				No data.
				{% endif %}
			</div>
			<div class="capacity_other">
				<table>
					<tbody>
						<tr>
						{% for other in others %}
								{% if other.url %}
									<td width="200">
										<h3>{{ other.lab.name }}</h3>
										<img src="{{ other.url }}" />
									</td>
								{% else %}
									No data.
								{% endif %}
						{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="admins">
			<h2>Need help?</h2>
			Then just ask your lab assistant(s) 
			{% for admin in admins %}
				<div class="admin_name">{{ admin }}</div>
			{% endfor %}
			<!-- TODO: Sort according to custom machine order. -->
		</div>
			{% if printer_list %}
		<div id="right">
			<div class="printers">
				<table>
					<tr>
						<td>
							<img src="/static/printer.png" />
						</td>
						<td>
							<ul>
								{% for printer in printer_list %}
									<li>{{ printer.name }}: <span class="bold">{{ printer.queue_size|default:"No queue." }}</span></li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</table>
			{% else %}
				<p>No printers defined.</p>
			{% endif %}
			</div>
			<div class="hours">
				<img src="/static/cairo-clock.png" />
				<span class="time">{{ hours.start|date:"H:i" }}</span> - <span class="time">{{ hours.end|date:"H:i" }}</span>
			</div>
		</div>
		<div id="footer">
		Lab assistants @ Mat-Nat
			<span class="current_time">{% now "H:i - l jS \o\f F" %}</span>
		</div>
	</div>
	</body>
</html>
