<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{{ lab.name|capfirst }}</title>
		<link rel="stylesheet"  type="text/css" href="/static/4sq_like.css" />
		<!--<meta http-equiv="refresh" content="15" />-->
		<script type="text/javascript" src="/static/jquery-1.4.4.js"></script>
		<script type="text/javascript" src="/static/jquery.jclock.js_4.js"></script>
		<script type="text/javascript" src="/static/jquery.timers-1.2.js"></script>

		<script type="text/javascript">
			/* Add a clock to the footer. */
    		$(function($) {
				var options = {
					format: '%A, %Y-%m-%d, %H:%M:%S'
				};
				$('.current_time').jclock(options);
		    });
			/* Function that updates the capacities */
			var update_capacities = function() {
					$( '#capacity' ).load(
						'/lab/{{ lab.name }}/capacity/');
						/*TODO: The url template keyword does not find the view, maybe the urlpattern is wrong.
						 * http://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs*/
						/*'url lab_capacity');*/
				};
			var update_admins = function() {
					$( '#admins' ).load(
						'/lab/{{ lab.name }}/admins/');
				};
			var update_printers = function() {
					$( '#printers' ).load(
						'/lab/{{ lab.name }}/printers/');
				};
			var update_hours = function() {
					$( '#hours' ).load(
						'/lab/{{ lab.name }}/hours/');
				};
			/* Initial update */
			$( document ).ready( update_capacities );
			$( document ).ready( update_admins );
			$( document ).ready( update_printers );
			$( document ).ready( update_hours );

			/* Ajax spinner */
			$( document ).ajaxStart( function() {
					$( '#spinner' ).show();
					}).ajaxStop( function() {
						$( '#spinner' ).hide();
					});
			/* Start timers updating a screen resource. */
			$( document).everyTime('180s', update_capacities );
			$( document).everyTime('60s', update_admins );
			$( document).everyTime('30s', update_printers );
			$( document).everyTime('1h', update_hours );
		  </script>
	</head>

	<body>
	<div id="container">
		<div id="header"><h1>{{ lab.name|capfirst }} lab</h1>
			{{ lab.welcome_msg }} 
		</div>
		<div id="left">
			<h2>Capacity</h2>
			<span id="spinner"><img src="/static/spinner.gif"/> Loading...</span>
			<div id="capacity">	</div>
		</div>
		<h2>Need help?</h2>
		Then just ask your lab assistant(s) 
		<div id="admins"></div>
		<div id="right">
			<div id="printers"></div>
			<div id="hours"></div>
		</div>
		<div id="footer">
			Lab assistants @ Mat-Nat
			<span class="current_time"></span>
		</div>
	</div>
	</body>
</html>
